In [1]:
import cmath
import math
import gmpy2

def f(l, y):
    N = 2 ** l
    three_inv = gmpy2.invert(3, N)
    sum = 0
    i = complex(0, 1)
    for m in range(l):
        sum += cmath.exp(2 * math.pi * i * (y * (2 * three_inv) ** m % N) / N)
    return sum.real / l

def F(l):
    maximum = -2
    for y in range(1, 2 ** l, 2):
        new = f(l, y)
        if new > maximum:
            maximum = new
    return maximum

In [2]:
import pandas as pd

F_values_df = pd.DataFrame(columns=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [3]:
%%time
F(1)

CPU times: user 122 µs, sys: 57 µs, total: 179 µs
Wall time: 185 µs

-1.0

In [5]:
F_values_df[1] = [F(1), 0.000179]

In [6]:
%%time
F(2)

CPU times: user 70 µs, sys: 14 µs, total: 84 µs
Wall time: 88 µs

-0.49999999999999994

In [7]:
F_values_df[2] = [F(2), 0.000084]

In [9]:
%%time
F(3)

CPU times: user 86 µs, sys: 1e+03 ns, total: 87 µs
Wall time: 92 µs

-0.09763107293781748

In [10]:
F_values_df[3] = [F(3), 0.000087]

In [11]:
%%time
F(4)

CPU times: user 140 µs, sys: 1 µs, total: 141 µs
Wall time: 145 µs

0.02244755338790938

In [12]:
F_values_df[4] = [F(4), 0.000141]

In [13]:
%%time
F(5)

CPU times: user 258 µs, sys: 1e+03 ns, total: 259 µs
Wall time: 262 µs

0.06104172584493761

In [14]:
F_values_df[5] = [F(5), 0.000259]

In [15]:
%%time
F(6)

CPU times: user 536 µs, sys: 1 µs, total: 537 µs
Wall time: 542 µs

0.21035816082614947

In [16]:
F_values_df[6] = [F(6), 0.000537]

In [17]:
%%time
F(7)

CPU times: user 1.06 ms, sys: 2 µs, total: 1.06 ms
Wall time: 1.07 ms

0.3094483225829058

In [18]:
F_values_df[7] = [F(7), 0.00106]

In [19]:
%%time
F(8)

CPU times: user 2.51 ms, sys: 1e+03 ns, total: 2.51 ms
Wall time: 2.52 ms

0.3693105857133682

In [20]:
F_values_df[8] = [F(8), 0.00251]

In [21]:
%%time
F(9)

CPU times: user 4.01 ms, sys: 7 µs, total: 4.02 ms
Wall time: 4.02 ms

0.38886774156988807

In [22]:
F_values_df[9] = [F(9), 0.00402]

In [23]:
%%time
F(10)

CPU times: user 15.2 ms, sys: 1.97 ms, total: 17.2 ms
Wall time: 15.4 ms

0.3789784778872586

In [24]:
F_values_df[10] = [F(10), 0.0172]

In [25]:
%%time
F(11)

CPU times: user 19.1 ms, sys: 802 µs, total: 19.9 ms
Wall time: 19.3 ms

0.4326423649299213

In [26]:
F_values_df[11] = [F(11), 0.0199]

In [27]:
%%time
F(12)

CPU times: user 35.2 ms, sys: 1.97 ms, total: 37.2 ms
Wall time: 35.4 ms

0.47419939360919283

In [28]:
F_values_df[12] = [F(12), 0.0372]

In [29]:
%%time
F(13)

CPU times: user 63.9 ms, sys: 2.4 ms, total: 66.3 ms
Wall time: 64.8 ms

0.5029312664922283

In [30]:
F_values_df[13] = [F(13), 0.0663]

In [31]:
%%time
F(14)

CPU times: user 123 ms, sys: 2.9 ms, total: 125 ms
Wall time: 123 ms

0.5190224784556354

In [32]:
F_values_df[14] = [F(14), 0.125]

In [33]:
%%time
F(15)

CPU times: user 242 ms, sys: 2.48 ms, total: 245 ms
Wall time: 243 ms

0.5392267335158978

In [34]:
F_values_df[15] = [F(15), 0.245]

In [35]:
%%time
F(16)

CPU times: user 505 ms, sys: 3.57 ms, total: 508 ms
Wall time: 511 ms

0.5439534133630893

In [36]:
F_values_df[16] = [F(16), 0.508]

In [37]:
%%time
F(17)

CPU times: user 1.06 s, sys: 6.51 ms, total: 1.07 s
Wall time: 1.07 s

0.5240977925880047

In [38]:
F_values_df[17] = [F(17), 1.07]

In [39]:
%%time
F(18)

CPU times: user 2.26 s, sys: 11.2 ms, total: 2.27 s
Wall time: 2.29 s

0.5275612743342892

In [40]:
F_values_df[18] = [F(18), 2.27]

In [41]:
%%time
F(19)

CPU times: user 4.84 s, sys: 25.4 ms, total: 4.86 s
Wall time: 4.9 s

0.5419132277110322

In [42]:
F_values_df[19] = [F(19), 4.86]

In [43]:
%%time
F(20)

CPU times: user 14.8 s, sys: 56.5 ms, total: 14.8 s
Wall time: 14.9 s

0.5591664147757932

In [44]:
F_values_df[20] = [F(20), 14.9]

In [45]:
%%time
val = F(21)

CPU times: user 40.9 s, sys: 231 ms, total: 41.1 s
Wall time: 41.4 s

In [46]:
F_values_df[21] = [val, 41.4]

In [47]:
%%time
val = F(22)

CPU times: user 1min 23s, sys: 179 ms, total: 1min 23s
Wall time: 1min 23s

In [48]:
F_values_df[22] = [val, 83]

In [49]:
%%time
val = F(23)

CPU times: user 2min 53s, sys: 312 ms, total: 2min 54s
Wall time: 2min 54s

In [50]:
F_values_df[23] = [val, 174]

In [51]:
%%time
val = F(24)

CPU times: user 3min 45s, sys: 215 ms, total: 3min 45s
Wall time: 3min 45s

In [52]:
F_values_df[24] = [val, 225]

In [53]:
%%time
val = F(25)

CPU times: user 6min 35s, sys: 934 ms, total: 6min 36s
Wall time: 6min 37s

In [54]:
F_values_df[25] = [val, 397]

In [55]:
F_values_df.to_csv('/Users/manavkant/Documents/Caltech/Q3_2021/CS_38/Sets/Solutions/Week_6/branch-and-bound/submissionA.csv')

In [56]:
F_values_df.transpose(copy=True)

           0           1
1  -1.000000    0.000179
2  -0.500000    0.000084
3  -0.097631    0.000087
4   0.022448    0.000141
5   0.061042    0.000259
6   0.210358    0.000537
7   0.309448    0.001060
8   0.369311    0.002510
9   0.388868    0.004020
10  0.378978    0.017200
11  0.432642    0.019900
12  0.474199    0.037200
13  0.502931    0.066300
14  0.519022    0.125000
15  0.539227    0.245000
16  0.543953    0.508000
17  0.524098    1.070000
18  0.527561    2.270000
19  0.541913    4.860000
20  0.559166   14.900000
21  0.579415   41.400000
22  0.596942   83.000000
23  0.611067  174.000000
24  0.620063  225.000000
25  0.620262  397.000000

In [57]:
F_values_df.to_csv('/Users/manavkant/Documents/Caltech/Q3_2021/CS_38/Sets/Solutions/Week_6/branch-and-bound/submissionA.csv')