In [6]:
# Time for F(20) was 10.2s (in cell In [24])
# Time for F(25) was 8min 56s (in cell In [29])

import cmath
import math
import gmpy2

def f(l, y):
    N = 2 ** l
    three_inv = gmpy2.invert(3, N)
    sum = 0
    i = complex(0, 1)
    for m in range(l):
        sum += cmath.exp(2 * math.pi * i * (y * (2 * three_inv) ** m % N) / N)
    return sum.real / l

def F(l):
    maximum = -2
    for y in range(1, 2 ** l, 2):
        new = f(l, y)
        if new > maximum:
            maximum = new
    return maximum

In [7]:
import pandas as pd

F_values_df = pd.DataFrame(columns=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [8]:
val = F(1)
F_values_df[1] = [val]
print(val)

-1.0

In [9]:
print(F_values_df)

    1    2    3    4    5    6    7    8    9    10  ...   16   17   18   19  \
0 -1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN

    20   21   22   23   24   25
0  NaN  NaN  NaN  NaN  NaN  NaN

[1 rows x 25 columns]

In [20]:
for l in range(2, 20):
    val = F(l)
    F_values_df[l] = [val]
    print(val)

-0.49999999999999994
-0.09763107293781748
0.02244755338790938
0.06104172584493761
0.21035816082614947
0.3094483225829058
0.3693105857133682
0.38886774156988807
0.3789784778872586
0.4326423649299213
0.47419939360919283
0.5029312664922283
0.5190224784556354
0.5392267335158978
0.5439534133630893
0.5240977925880047
0.5275612743342892
0.5419132277110322

In [21]:
print(F_values_df)

         1    2         3         4         5         6         7         8   \
0  0.432642 -0.5 -0.097631  0.022448  0.061042  0.210358  0.309448  0.369311

         9         10  ...        16        17        18        19   20   21  \
0  0.388868  0.378978  ...  0.543953  0.524098  0.527561  0.541913  NaN  NaN

    22   23   24   25
0  NaN  NaN  NaN  NaN

[1 rows x 25 columns]

In [24]:
%%time
F(20)

CPU times: user 10.1 s, sys: 14.8 ms, total: 10.2 s
Wall time: 10.2 s

0.5591664147757932

In [25]:
val = F(20)
F_values_df[20] = [val]
print(val)

0.5591664147757932

In [26]:
for l in range(21, 25):
    val = F(l)
    F_values_df[l] = [val]
    print(val)

0.5794152269564543
0.5969415901539915
0.61106656363946
0.620062871151

In [29]:
%%time
F(25)

CPU times: user 8min 53s, sys: 2.94 s, total: 8min 56s
Wall time: 9min 9s

0.620261512878786

In [30]:
F_values_df

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,0.432642,-0.5,-0.097631,0.022448,0.061042,0.210358,0.309448,0.369311,0.388868,0.378978,...,0.543953,0.524098,0.527561,0.541913,0.559166,0.579415,0.596942,0.611067,0.620063,NaN

In [31]:
F_values_df[1] = F(1)

In [32]:
F_values_df

,1,2,3,4,5,6,7,8,9,10,...,16,17,18,19,20,21,22,23,24,25
0,-1.0,-0.5,-0.097631,0.022448,0.061042,0.210358,0.309448,0.369311,0.388868,0.378978,...,0.543953,0.524098,0.527561,0.541913,0.559166,0.579415,0.596942,0.611067,0.620063,NaN

In [34]:
F_values_df[25] = [1]

In [35]:
val = F(25)
F_values_df[25] = [val]
print(val)

0.620261512878786

In [36]:
F_values_df.to_csv('/Users/manavkant/Documents/Caltech/Q3_2021/CS 38/Sets/Solutions/Set_6_Problem_4a.csv')